* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    text-align: center;
    color: rgb(246, 6, 22);
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border: 20px solid black;
    border-radius: 90px;
}
.main h1 {
    font-size: 48px;
}
.main h3 {
    font-size: 36px;
}
.main ul {
    list-style-type: none;
    padding: 0;
}
.main ul li {
    color: darkred;
    display:flex;
    font-weight: bold;
    /* justify-content: center; */
    margin: 0 15px;
    font-size: 24px;
    cursor: pointer;
}
.main ul li:hover {
    color: darkorange;
}
.game button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    background-color: rgb(129, 44, 57);
}
.game button:hover {
    background-color: rgb(246, 6, 22);
    color: black;
}
